local.properties
.gradle/
.idea/
build/
*.iml
.kotlin/
composeApp/build/
iosApp/iosApp.xcworkspace/
iosApp/Pods/
.DS_Store
!gradle/wrapper/gradle-wrapper.jar
composeApp/google-services.json
iosApp/iosApp/GoogleService-Info.plist
iosApp/iosApp/Info.plist
composeApp/release/
